<html>
  <head>
    <title>success | akazawa-demo</title>
    <link rel="stylesheet" type="text/css" href="https://d3p7ybpyhwl4ka.cloudfront.net/static/css/success.css">
  </head>
  <div class="noise"></div>
  <div class="overlay"></div>
  <div class="terminal">
    <h1>Authentication <br><span class="errorcode">Succeeded</span></h1>
    <p class="output">Registration is complete. You can log in from the akazawa portfolio.</p>
    <p class="output">Please try to <a href="https://kemper0530.com">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
  </div>
</html>